{% extends 'user_base.html' %}
{% block content %}
<h2>Mód {{mod}}</h2>
<div id="collapse1" class="panel-collapse">
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>Název</th>
                <th>Vydavatel hry</th>
                <th>Datum Vydání</th>
            </tr>
                {% for game in ModSort %}
            <tr>
                <th><a href="/user/hra/detail/{{game[0]}}">{{game[0]}}</a></th>
                <th><a href="/user/hra/detail/publisher/{{game[1]}}">{{game[1]}}</a></th>
                <th>{{game[2]}}</th>
            </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}