{% extends 'user_base.html' %}
{% block content %}
<div style="width: 50%; margin: 0 auto;">
    <h1 align="center">Přidat {{table_name}}</h1>

    <form method="POST" action="" id="data_form" data-parsley-validate="">
        {% for head in header if head[0] != 'id'%}
        {% if head[0] == 'vlastnik' %}
        <input type="hidden" value="{{id}}" name="{{head[0]}}">
        {% else %}
        <div class="input-group">
            <span style="min-width:75px;" class="input-group-addon">{{head[0]}}</span>
            <input class="form-control" {% if head[2] == "NO" %}required=""{% endif %} {% if head[1][:3] == "int" %}data-parsley-type="integer"{% endif %} id="msg" type="text" name="{{head[0]}}">
        </div>
        {% endif %}
        {% endfor %}
        <div style="margin-top: 5px;">
                <input class="btn btn-primary btn-block" type="submit" name="Odeslat" value="Odeslat">
        </div>
        
    </form>
</div>

<script type="text/javascript">
$(function () {
  $('#data-form').parsley().on('field:validated', function() {
  })
  .on('form:submit', function() {
    return true;
  });
});
</script>
{% endblock %}