{% extends 'user_base.html' %}
{% block content%}
<form method=get action="heslo/" class="navbar-form navbar-right">
    <input style="margin-bottom: 0.7em" class="btn btn-default" name="heslo" type="submit" value="Zmenit heslo"/>
</form>
<h2>Osobní informace</h2>
<b>Přezdívka: </b>{{hrac[1]}}<br>
<b>Jméno: </b>{{hrac[0]}}<br>
<b>Klan: </b>{{hrac[3]}}<br>
<b>Tým: </b>{{hrac[5]}}<br>
{% if hrac[6] == 1 %}
<b>Odebírám novinky </b><button onclick="location.href='odber';">Změnit</button>
{% else %}
<b>Neodebírám novinky </b><button onclick="location.href='odber';">Změnit</button>
{% endif %}
<br>
<span>
    <h2 style="display: inline-block">Vybavení hráče</h2>
    <form style="display: inline-block;" method="get" action="add/equipment/">
        <input style="margin-bottom: 0.7em" class="btn btn-default" type="submit" value="Přidat"/>
    </form>
</span>
<br>
<div class="card-deck" style="display: inline-block">
{% for vyb in vybaveni %}
  <div class="card" style="width: 300px;float:left;background-color: #cccccc;margin:10px;padding:10px;border:2px solid black">
    <div class="card-block">
      <h3 class="card-title"><b>Typ: {{vyb[0]}}</b></h3>
      <h4 class="card-title"><b>Výrobce: {{vyb[1]}}</b></h4>
      <p class="card-text"><b>Model: </b>{{vyb[2]}}</p>
      <p class="card-text"><b>Popis: </b>{{vyb[3]}}</p>
    <form class="navbar-form" style="display: inline-block;" method="post" action="remove/">
        <input class="btn btn-default" type="hidden" value="{{vyb[4]}}" name="remove_id">
        <input class="btn btn-default" type="submit" value="Odstranit" />
    </form>
    </div>
  </div>
{% endfor %}
</div><br>
<h2>Posledních 5 zápasů</h2>
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th>ID</th>
        <th>Skore</th>
        <th>Mod</th>
        <th>Hra</th>
        <th>Tym</th>
        <th>Datum</th>
        <th>Lokace</th>
        <th>Odmena</th>
    </tr>
    {% for item1 in content %}
    <tr>
        {% for item2 in item1 %}
            <td>
                {{ item2 }}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<h3 style="display: inline-block;" > Specializace:</h3>
<form style="display: inline-block;" method="post" action="" id="add_specialization">
        <select form="add_specialization" name="add_specialization_id">
        {% for game in all_games %}
            <option value="{{game[1]}}">{{game[0]}}</option>
        {% endfor %}
        </select>
        <input type="submit" name="add_specialization" value="Pridat specializaci">
</form><br>
{% for specialization in Specialization %}
<font size="4">
    {{specialization[0]}}
</font>
<form method="post" action="" id="remove_specialization" style="display: inline-block;" >
    <input type="hidden" name="remove_specialization" value={{specialization[1]}}>
    <input type="submit" name={{specialization[1]}} value="Odebrat">
</form>
<br>
{% endfor %}

{% endblock %}