{% extends 'user_base.html' %}
{% block content %}
{% if klan %}
    {% if vudce %}
    <form class="navbar-form navbar-right" method=post>
        <input type="hidden" name="id" value="{{klan[0]}}">
        <button type="submit" name="zrusit" class="btn btn-default">Zrušit klan</button>
    </form>
    {% else %}
    <form class="navbar-form navbar-right" method=post>
        <button type="submit" name="opustit" class="btn btn-default">Opustit klan</button>
    </form>
    {% endif %}
    <h1>Můj klan</h1>
    <h1><b><u>{{klan[1]}}</u></b></h1>
    <h3>Tvoje pozice v klanu: 
    {% if vudce %}
    vůdce
    {% else %}
    člen
    {% endif %}
    <h2>Hymna</h2>
     <audio controls>
      <source src="/static/{{klan[2]}}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio> 
    <h2>Logo</h2>
    <img src="/static/{{klan[3]}}" />
    <h2>Vudce klanu: {{vudce_klanu}}</h2>
    <h2>Členové</h2>
    <div id="collapse1" class="panel-collapse">
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>Jmeno</th>
                <th>Prezdivka</th>
                {% if vudce %}<th>Akce</th>{% endif %}
            </tr>
                {% for member in clenove %}
            <tr>
                    <td><a href="/user/prochazet/detail/{{member[1]}}">{{member[0]}}</a></td>
                    <td><a href="/user/prochazet/detail/{{member[1]}}">{{member[1]}}</a></td>
                    {% if vudce %}
                    <td>
                        <form method=post>
                        <input type="hidden" name="id" value="{{member[2]}}">
                        <button type="submit" name="vyhodit" class="btn btn-default">Vyhodit člena</button>
                    </form>
                    </td>
                    {% endif %}
            </tr>
                {% endfor %}
        </table>
    </div>
{% else %}
<div style="margin: 0 auto; width:22%">
    <h2 align="center">Aktuálně nejsi v žádném klanu.</h2>
    <a href="zalozit/">
        <button type="button" class="btn btn-primary btn-block">Založit</button>
    </a>
    <a href="/user/klan_prochazet">
        <button style="margin-top: 5px;"type="button" class="btn btn-primary btn-block">Přidat se k existujícímu</button>
    </a>
</div>
{% endif %}

{% endblock %}