{% extends 'user_base.html' %}
{% block content %}
<h1>Založit klan</h1>
<form action="" method="post" enctype=multipart/form-data>
    <table>
        <tr><td>
        <label>Název klanu:</label>
        </td><td>
        <input type="text" name="nazev">
        </td>
        </tr>
        <tr><td>
        <label>Hymna:</label>
        </td><td>
        <input type="file" name="song">
        </td>
        </tr>
        <tr><td>
        <label>Logo:</label>
        </td><td>
        <input type="file" name="file">
        </td>
        </tr>
        <tr>
            <td></td>
            <td><input class="btn btn-default" type="submit" name="odeslat" value="Odeslat"></td>
        </tr>
    </table>
</form>
{% endblock %}