{% extends 'user_base.html' %}
{% block content %}

<table class="table table-striped table-hover table-bordered table-condensed"> 
    <tr> 
        <th>Přezdívka</th> 
        <th>Jméno</th> 
        <th>Tým</th> 
        <th>Klan</th> 
    </tr> 
    {% for aggr in game_aggr %} 
    <tr> 
        <td><a href="/user/prochazet/detail/{{aggr[0]}}">{{aggr[0]}}</a></td> 
        <td><a href="/user/prochazet/detail/{{aggr[0]}}">{{aggr[1]}}</a></td> 
        <td>{{aggr[2]}}</td> <!-- TODO HREF team -->
        <td><a href="/user/klan_prochazet/detail/{{aggr[3]}}">{{aggr[3]}}</a></td> 
    </tr> 
    {% endfor %} 
</table> 

{% endblock %}