{% extends 'user_base.html' %}
{% block content %}
<h2 style="text-align: center">Základní informace o turnaji</h2>
<div style="width: 20%; margin:0 auto">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Název</th>
                <th>{{BasicInfo[0]}}</th>
            </tr>
            <tr>
                <th>Místo konání</th>
                <th>{{BasicInfo[1]}}</th>
            </tr>
            <tr>
                <th>Datum</th>
                <th>{{BasicInfo[2]}}</th>
            </tr>
            <tr>
                <th>Kapacita</th>
                <th>{{BasicInfo[3]}}</th>
            </tr>
            <tr>
                <th>Hlavní cena</th>
                <th>{{BasicInfo[4]}}</th>
            </tr>
            {%if vyherce|length == 2 %}
            <tr>
                <th>Vyherce</th>
                <th>{{vyherce[0]}}</th>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{%if vyherce|length > 2 %}
<h2 style="text-align: center">Výherci</h2>

<div style="width: 10%; margin:0 auto">
    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Pozice</th>
                <th>Tym</th>
            </tr>
            {% for v in vyherce %}
            <tr>
                <th>{{v[0]}}</th>
                {% if v[2] != None %}
                <th>{{v[2]}}</th>
                {% else %}
                 <th></th>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
<h2 style="text-align: center">Zápasy</h2>
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th>Čas</th>
        <th>Datum</th>
        <th>Lokace</th>
        <th>Score</th>
        <th>Hra</th>
        <th>Druh</th>
    </tr>
        {% for zapas in zapasy %}
    <tr>
        <th>{{zapas[0]}}</th>
        <th>{{zapas[1]}}</th>
        <th><a href="/user/turnaj/detail/location/{{zapas[2]}}">{{zapas[2]}}</a></th>
        <th>{{zapas[3]}}</th>
        <th><a href="/user/hra/detail/{{zapas[4]}}">{{zapas[4]}}</a></th>
        <th>{{zapas[5]}}</th>
    </tr>
        {% endfor %}
</table>
<br>
<h2 style="text-align: center">Sponzoři</h2>
<table>
        {% for sponzor in sponzors %}
    <tr>
        <th>{{sponzor[0]}}</th>
        <th>{{sponzor[1]}}</th>
    </tr>
        {% endfor %}
</table>
{% endblock %}