{% extends 'user_base.html' %}
{% block content %}
<h1>Založit tým</h1>
<form action="" method="post" enctype=multipart/form-data>
    <table>
        <tr><td>
        <label>Název týmu:</label>
        </td><td>
        <input type="text" name="nazev">
        </td>
        </tr>
        <tr><td>
        <label>Emblem:</label>
        </td><td>
        <input type="file" name="file">
        </td>
        </tr>
        <tr><td>
        <label>Popis:</label>
        </td><td>
        <input type="text" name="popis">
        </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" name="odeslat" value="Odeslat"></td>
        </tr>
    </table>
</form>
{% endblock %}