{% extends 'admin_base.html' %}
{% block content %}
<h2 style="display: inline-block">Hry</h2>
<a href="/admin/hra/add/">
    <button>Pridat</button>
</a>
<div class="panel-group">
        <div class="panel panel-default">
          <div id="collapse1" class="panel-collapse">
              <table class="table table-striped table-hover table-bordered table-condensed">
                  <tr>
                  {% for item in table_head %}
                      <th>{{ item[0] }}</th>
                  {% endfor %}
                      <th>Akce</th>
                  </tr>
                  {% for item1 in content %}
                  <tr>
                      {% for item2 in item1 %}
                          <td>
                                {% if loop.index == 5 %}
                                <a href="detail/genre/{{item2}}">{{ item2 }}</a>
                                {% elif loop.index == 2 %}
                                <a href="detail/{{item2}}">{{ item2 }}</a>
                                {% elif loop.index == 6 %}
                                <a href="detail/mod/{{item2}}">{{ item2 }}</a>
                                {% elif loop.index == 3 %}
                                <a href="detail/publisher/{{item2}}">{{ item2 }}</a>
                                {% else %}
                                  {{ item2 }}
                                {% endif %}
                          </td>
                          {% if loop.last %}
                          <td>
                              <span>
                                  <form style="display: inline-block;" method="post" action="remove/">
                                      <input type="hidden" value="{{item1[0]}}" name="remove_row">
                                      <input type="submit" value="Odebrat">
                                  </form>
                                  <form style="display: inline-block;" method="post" action="edit/{{item1[0]}}/">
                                      <input type="submit" name="Upravit" value="Upravit">
                                  </form>
                              </span>
                          {% endif %}
                      {% endfor %}
                  </tr>
                  {% endfor %}
              </table>
          </div>
        </div>
      </div> 
{% endblock %}