{% extends 'admin_base.html' %}
{% block content %}
<h2>Členové</h2>
<div id="collapse1" class="panel-collapse">
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>ID</th>
                <th>Jméno</th>
                <th>Přezdívka</th>
            </tr>
                {% for member in members %}
            <tr>
                <th><a href="/admin/hrac/detail/{{member[1]}}">{{member[1]}}</a></th>
                <th><a href="/admin/hrac/detail/{{member[1]}}">{{member[5]}}</a></th>
                <th><a href="/admin/hrac/detail/{{member[1]}}">{{member[4]}}</a></th>
            </tr>
                {% endfor %}
        </table>
    </div>
{% endblock %}