{% extends 'admin_base.html' %}
{% block content %}
<h2>Detail - {{Name}}</h2>

<h1>Sponzori</h1>
<h3>Přidat sponzora</h3>
<form method="post" action="" id="add_sponsor">
    <select form="add_sponsor" name="sponsor_id_add">
    {% for sponsor in all_sponsors %}
        <option value="{{sponsor[2]}}">{{sponsor[0]}} - {{sponsor[1]}}</option>
    {% endfor %}
    </select>
    <label>Částka:</label>
    <input type="text" name="castka">
    <input type="submit" name="add_sponsor" value="Přidat sponzora">
</form>
<br>
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th>Název</th>
        <th>Typ</th>
        <th>Částka</th>
        <th>Akce</th>
    </tr>
    {% for sponzor in sponzors %}
    <tr>
        <th>{{sponzor[0]}}</th>
        <th>{{sponzor[1]}}</th>
        <th>{{sponzor[2]}}</th>
        <th>
            <form method="post" action="">
                <input type="hidden" name="id" value="{{sponzor[3]}}">
                <input type="submit" name="remove" value="Odebrat">
            </form>
        </th>
    </tr>
    {% endfor %}
</table>
<h1>Zapasy</h1>
<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Score</th>
        <th>Druh</th>
        <th>Hra</th>
    </tr>
        {% for member in members %}
    <tr>
        <th>{{member[0]}}</th>
        <th>{{member[1]}}</th>
        <th>{{member[2]}}</th>
        <th>{{member[3]}}</th>
        <th><a href="/admin/hra/detail/{{member[4]}}">{{member[4]}}</a></th>
    </tr>
        {% endfor %}
</table>
{% endblock %}