{% extends 'admin_base.html' %}
{% block content %}

<h2>{{PlayerInfo[1]}} ({{PlayerInfo[0]}})</h2>

{% if PlayerInfo[3] %}
<h3>Klan: {{PlayerInfo[3]}}</h3>  
{%else%}
<h3>Klan: </h3>  
{%endif%}

{% if PlayerInfo[5] %}
<h3>Tym: {{PlayerInfo[5]}}</h3>
{%else%}
<h3>Tym:</h3>
{%endif%}

<table class="table table-striped table-hover table-bordered table-condensed">
    <tr>
        <th>Typ</th>
        <th>Výrobce</th>
        <th>Model</th>
        <th>Popis</th>
        <th>Akce</th>
    </tr>

        {% for info in PlayerVybaveniInfo %}
    <tr>
        <th>{{info[0]}}</th>
        <th>{{info[1]}}</th>
        <th>{{info[2]}}</th>
        <th>{{info[3]}}</th>
        <th>
            <form method="post" action="" id="remove_equipment">
                <input type="hidden" name="odebrat_id" value={{info[4]}}>
                <input type="submit" name={{info[4]}} value="Odebrat">
            </form>
        </th>
    </tr>
        {% endfor %}
</table>


<h3 style="display: inline-block;" > Specializace:</h3>
<form style="display: inline-block;" method="post" action="" id="add_specialization">
        <select form="add_specialization" name="add_specialization_id">
        {% for game in all_games %}
            <option value="{{game[1]}}">{{game[0]}}</option>
        {% endfor %}
        </select>
        <input type="submit" name="add_specialization" value="Pridat specializaci">
</form>

<br>
{% for specialization in Specialization %}
<font size="4">
    {{specialization[0]}}
</font> 
<form method="post" action="" id="remove_specialization" style="display: inline-block;" >
    <input type="hidden" name="remove_specialization" value={{specialization[1]}}>
    <input type="submit" name={{specialization[1]}} value="Odebrat">
</form>


<br>
{%endfor%}


{% endblock %}