{% extends 'admin_base.html' %}
{% block content %}
<div class="login">
            <div class="container">
                <div class="login-grids">
                    <div class="col-md-6 log">
                         <h3>Změna hesla uživatele {{prezdivka}}</h3>
                         <div class="strip"></div>
                         <form method=post id="data-form" data-parsley-validate="">
                            <label>Zadejte nové heslo: </label>
                            <input class="form-control" required="" type="password" name="heslo">
                            <p><input type=submit value=Změnit>
                         </form>
                    </div>
                </div>
            </div>
        </div>

<script type="text/javascript">
$(function () {
  $('#data-form').parsley().on('field:validated', function() {
  })
  .on('form:submit', function() {
    return true;
  });
});
</script>
{% endblock %}