<!DOCTYPE html>
<html lang="cs">
    <head>
    <title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta charset utf="8">
		<!--bootstrap-->
			<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<!--coustom css-->
			<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="head-bread">
            <div class="container">
                <ol class="breadcrumb">
                    <li style="font-weight: bold; font-size: 18px; text-shadow: none;">404</li>
                    <li style="font-weight: bold; font-size: 18px; text-shadow: none;" class="active">Stránka nenalezena</li>
                    <li><a href="/">Zpět na výchozí stránku</a></li>
                </ol>
            </div>
        </div>
    </body>
</html>